# The IAAO May-2026 Exposure Draft PDF is retrieved here for verification only.
# It is NOT committed to this repository: redistribution permission has not been
# established. Only provenance/ed2_source_manifest.json (URL, SHA256, byte
# length, retrieval date, title, page refs, implemented formulas) is tracked.
*
!.gitignore
